@font-face {
   font-family: 'Roboto';
   src: url('./assets/fonts/Roboto-Regular.ttf');
}

*{
   font-family: 'Roboto';
   margin: 0;
}

body{
   background-color:beige;
   color: bisque;
}

header{
   background-color: rgb(28, 29, 80);
   height: 84px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

h2{
   text-align: center;
}

.section-style{
   display: flex;
   justify-content: center;
   padding: 45px;
}

.display-flex{
   display: flex;
}

.seperator{
   background-color: bisque;
   width: 252px;
   padding-bottom: 1px;
}

.seperator-short{
   background-color: darkgray;
   width: 194px;
   padding-bottom: 1px;
}