.window{
   padding-top: 8px;
   padding-left: 9px;
   padding-right: 9px;
   padding-bottom: 15px;
   margin-bottom: 28px;
   height: 526px;
   width: 224px;
   border-radius: 12px;
   border-width: 5px;
   border-color: bisque;
   background-color: rgb(28, 29, 80);
}

